<nav *ngIf="true" >
  <ul class="pagination">
    <li class="page-item"
        [appClass]="{ disabled: currentPage === 0 }"
        (click)="currentPage = currentPage -1"
    >
      <a class="page-link">Prev</a>
    </li>

    <ng-container *ngFor="let image of images; let i = index;">
      <li class="page-item"
          [appClass]="{ active: i === currentPage }"
          *ngIf="checkWindowIndex(i)"
      >
        <a (click)="currentPage = i" class="page-link">{{ i + 1 }}</a>
      </li>
    </ng-container>
    <li class="page-item"
        [appClass]="{ disabled: currentPage === images.length - 1 }"
        (click)="currentPage = currentPage + 1"
    >
      <a class="page-link">Next</a>
    </li>
  </ul>
</nav>

<div>
  <h4 > {{ images[currentPage].title }} </h4>
  <img [src]="images[currentPage].url">
</div>


<ul *appTimes="images.length; let i  = index; let c = color">
  <li>Hi there! {{i  + '' + c}} </li>
</ul>
